<a href="https://colab.research.google.com/github/BrandonBosire/Moringa-Week-3/blob/main/Moringa_Data_Science_Prep_W3_Independent_Project_2021_09_Brandon_Bosire_Python_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The following is the step by step approach undertaken inorder to complete the requirements of the weeks Independent project and will be broken into two parts:

The data preparation, were the data will be curated to ensure it is sound and analysis ready.All the cleaned out noise will be sorted out and arranged at the end of this section.

 The second part will include the data analysis .This is where the required output will be arranged ,they include the variables needed in the conclusion and the recommendation for regions of focused upgrading (as per the project requirements.

In [1]:
#The first step is importing of the required python library known as pandas.
#It will be given the alais name pd.
#This will be reference name that will be evident throughout the project.
#
import pandas as pd

In [2]:
#We will now import all the datasets to be used.
#But first these have been save together with the GitHub repository dedicated to this project.
#They will temporarily be mounted on the notebook, but can be imported from the repository(Link will be parralel).
#

In [38]:
#The csv files
#Telecome 1 dataset
#df_Telecome1 = pd.read_csv('/content/Telcom_dataset.csv', delimiter = ',')
#df_Telecome1
df_Telecome1_url = "https://raw.githubusercontent.com/BrandonBosire/Moringa-Week-3/main/Telcom_dataset.csv"
df_Telecome1_url = pd.read_csv(df_Telecome1_url)
df_Telecome1_url

     PRODUTC  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0      Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1        sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2        sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3      Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
...      ...    ...                    ...  ...       ...         ...         ...
4996     sms    100  2012-05-07 00:01:54.0  ...     OTHER  0c2371d9bc  1e751d08a4
4997   Voice      1  2012-05-07 00:01:54.0  ...     19e2e  5fb791cf56  65efe2bc62
4998   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  7773627c12  9ef9616350
4999   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  3f4af49d6c  969b8d0e39
5000   Voice      7  2012-05-07 00:01:54.0  ...     19e2e  6f4d9b77a5  ebfc58af70

[5001 rows x 10 columns]

In [4]:
#Telecome 2 dataset
df_Telecome2 = pd.read_csv('/content/Telcom_dataset2.csv', delimiter = ',')
df_Telecome2
#df_Telecome2_url = "https://raw.githubusercontent.com/BrandonBosire/Moringa-Week-3/main/Telcom_dataset2.csv"
#df_Telecome2_url = pd.read_csv(df_Telecome2_url)
#df_Telecome2_url

     PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0        sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1      Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2        sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3      Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4        sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO
...      ...    ...                    ...  ...       ...         ...         ...
4996     sms      0  2012-05-08 00:01:53.0  ...     19e2e  896459aace  b7d00e59e4
4997     sms     25  2012-05-08 00:01:53.0  ...     19e2e  7e90b35166  211015b14d
4998     sms      0  2012-05-08 00:01:53.0  ...     19e2e  fe70e431df  c7ea989264
4999    data      0  2012-05-08 00:01:53.0  ...     OTHER  ffa6759bb2         NaN
5000   Voice      0  2012-05-08 00:01:53.0  ...     19e2e  8630058aca  b47a998a3e

[5001 rows x 10 columns]

In [5]:
#Telecome 3 dataset
df_Telecome3 = pd.read_csv('/content/Telcom_dataset3.csv', delimiter = ',')
df_Telecome3
#df_Telecome3_url = "https://raw.githubusercontent.com/BrandonBosire/Moringa-Week-3/main/Telcom_dataset3.csv"
#df_Telecome3_url = pd.read_csv(df_Telecome3_url)
#df_Telecome3_url

     PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B      CELLID     SIET_ID
0      Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1        sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2      Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3        sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA
...      ...    ...                    ...  ...       ...         ...         ...
4996   Voice      0  2012-05-09 00:01:43.0  ...     19e2e  2aa04dcab7  f7d63a29e5
4997   Voice     62  2012-05-09 00:01:43.0  ...     19e2e  7f1f2f889f  b4ddb9e93c
4998   Voice     32  2012-05-09 00:01:43.0  ...     19e2e  a4731e780e  d68260ef50
4999   Voice     30  2012-05-09 00:01:43.0  ...     19e2e  98ed726da2  b4130b54ab
5000   Voice     60  2012-05-09 00:01:43.0  ...     19e2e  1c11a2fcbb  6d70dae094

[5001 rows x 10 columns]

In [6]:
#Cells_geo dataset
df_cells_geo = pd.read_csv('/content/cells_geo.csv', delimiter = ';')
df_cells_geo
#df_cells_geo_url = "https://raw.githubusercontent.com/BrandonBosire/Moringa-Week-3/main/cells_geo.csv"
#df_cells_geo_url = pd.read_csv(df_cells_geo_url,  delimiter = ';')
#df_cells_geo_url

      Unnamed: 0    VILLES      STATUS  ...          AREA     CELL_ID   SITE_CODE
0              0    ADJAME  In Service  ...           NaN  fbb2e75af3  0bb492ef17
1              1    ADJAME  In Service  ...           NaN  1502501d78  0bb492ef17
2              2    ADJAME  In Service  ...           NaN  0c2e182a0c  0bb492ef17
3              3   ASSINIE  In Service  ...           NaN  69bdfc69fd  8a1e6ce31f
4              4   ASSINIE  In Service  ...           NaN  7a1029d2ab  8a1e6ce31f
...          ...       ...         ...  ...           ...         ...         ...
3969        3969  ZUENOULA  In Service  ...  CENTRE NORTH  1cfc2d7ab1  f91ed8d2e9
3970        3970  ZUENOULA  In Service  ...  CENTRE NORTH  3ae1708153  f91ed8d2e9
3971        3971  ZUENOULA  In Service  ...  CENTRE NORTH  cb71f8a29c  61bee9c70c
3972        3972  ZUENOULA  In Service  ...  CENTRE NORTH  d4a6a0b645  61bee9c70c
3973        3973  ZUENOULA  In Service  ...  CENTRE NORTH  f9f3e42589  61bee9c70c

[3974 rows x 12 columns]

In [8]:
#The excel files
#CDR Description dataset
df_CDR_d = pd.read_excel('/content/CDR_description.xlsx')
df_CDR_d
#No url option

       Column name                                        Description   Format
0          PRODUCT                                       Voice or SMS   String
1            VALUE                                      Billing price  Integer
2        DATE_TIME               Time in format yyyy-MM-dd hh:mm:ss.0   String
3     CELL_ON_SITE  Which cell in the site was used (not needed here)  Integer
4  DW_A_NUMBER_INT  Anonymized phone number of the person for whic...   String
5  DW_B_NUMBER_INT        Anonymized phone number of the counterparty   String
6        COUNTRY_A                  Country of party A (useless here)   String
7        COUNTRY_B                  Country of party B (useless here)   String
8          CELL_ID                                     ID of the cell   String
9          SITE_ID                                     ID of the SITE   String

In [9]:
#Cells Geo Description dataset
df_cells_geo_d = pd.read_excel('/content/cells_geo_description.xlsx')
df_cells_geo_d
#no url option

     Column name                                        Description  Format
0         VILLES                                               City  String
1         STATUS                                  In Service or not  String
2   LOCALISATION                                  in ABIDJAN or not  String
3     DECOUPZONE                                  Geographical Zone  String
4       ZONENAME                                       Name of Zone  String
5      LONGITUDE                                          Longitude   Float
6       LATITUDE                                           Latitude   Float
7         REGION                                             Region  String
8           AREA                                               Area  String
9        CELL_ID                                     ID of the cell  String
10     SITE_CODE  Site (there are several cells per site, severa...  String

In [46]:
#Next step is to clean the data
#This will be first by ensuring all column titles are in order accorded by the company.
#Telecome 1 dataset has incorrectly spelt column value PRODUCTC
#df_cells_geo =df_cells_geo.rename(columns={'VILLES': 'CITY', 'SITE_CODE': 'SITE_ID'})
df_cells_geo
df_Telecome1=df_Telecome1.rename(columns={"PRODUCTC": "PRODUCT"})
df_Telecome1

     PRODUTC  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0      Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1        sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2        sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3      Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
...      ...    ...                    ...  ...       ...         ...         ...
4996     sms    100  2012-05-07 00:01:54.0  ...     OTHER  0c2371d9bc  1e751d08a4
4997   Voice      1  2012-05-07 00:01:54.0  ...     19e2e  5fb791cf56  65efe2bc62
4998   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  7773627c12  9ef9616350
4999   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  3f4af49d6c  969b8d0e39
5000   Voice      7  2012-05-07 00:01:54.0  ...     19e2e  6f4d9b77a5  ebfc58af70

[5001 rows x 10 columns]

In [52]:
#Second we merge all tables to carry out cleaning on.
#
df_Telecome1filt
df_2 = pd.concat((df_Telecome1, df_Telecome2), axis=0, ignore_index=True)
df_2
df_all = pd.concat((df_2, df_Telecome3), axis=0, ignore_index=True)
df_all
df_all=df_all.rename(columns={"SEIT_ID": "SITE_ID"})
df_all

      PRODUTC  VALUE               DATETIME  ... DW_B_NUMBER      CELLID     SIET_ID
0       Voice      0  2012-05-06 23:04:37.0  ...         NaN         NaN         NaN
1         sms      0  2012-05-06 23:05:25.0  ...         NaN         NaN         NaN
2         sms     25  2012-05-06 23:05:41.0  ...         NaN         NaN         NaN
3       Voice     56  2012-05-06 23:05:42.0  ...         NaN         NaN         NaN
4       Voice     14  2012-05-06 23:06:29.0  ...         NaN         NaN         NaN
...       ...    ...                    ...  ...         ...         ...         ...
14998     NaN      0                    NaN  ...         NaN  2aa04dcab7  f7d63a29e5
14999     NaN     62                    NaN  ...         NaN  7f1f2f889f  b4ddb9e93c
15000     NaN     32                    NaN  ...         NaN  a4731e780e  d68260ef50
15001     NaN     30                    NaN  ...         NaN  98ed726da2  b4130b54ab
15002     NaN     60                    NaN  ...         NaN  1c11a2fcbb  6d70dae094

[15003 rows x 16 columns]

In [54]:
#We will now fill all null valuerespectively per column.
#
df_all["DATE_TIME"].fillna("0", inplace = True) 
df_all["COUNTRY_A"].fillna("Useless here", inplace = True)
df_all["COUNTRY_B"].fillna("Useless here", inplace = True)
df_all["CELL_ID"].fillna("0", inplace = True)

In [44]:
#Changing column values so that the table cell_geo_description can be merged.
#
df_cells_geo =df_cells_geo.rename(columns={'VILLES': 'CITY', 'SITE_CODE': 'SITE_ID'})
df_cells_geo

      Unnamed: 0      CITY      STATUS  ...          AREA     CELL_ID     SITE_ID
0              0    ADJAME  In Service  ...           NaN  fbb2e75af3  0bb492ef17
1              1    ADJAME  In Service  ...           NaN  1502501d78  0bb492ef17
2              2    ADJAME  In Service  ...           NaN  0c2e182a0c  0bb492ef17
3              3   ASSINIE  In Service  ...           NaN  69bdfc69fd  8a1e6ce31f
4              4   ASSINIE  In Service  ...           NaN  7a1029d2ab  8a1e6ce31f
...          ...       ...         ...  ...           ...         ...         ...
3969        3969  ZUENOULA  In Service  ...  CENTRE NORTH  1cfc2d7ab1  f91ed8d2e9
3970        3970  ZUENOULA  In Service  ...  CENTRE NORTH  3ae1708153  f91ed8d2e9
3971        3971  ZUENOULA  In Service  ...  CENTRE NORTH  cb71f8a29c  61bee9c70c
3972        3972  ZUENOULA  In Service  ...  CENTRE NORTH  d4a6a0b645  61bee9c70c
3973        3973  ZUENOULA  In Service  ...  CENTRE NORTH  f9f3e42589  61bee9c70c

[3974 rows x 12 columns]

In [56]:
#We will now merge the above dataset with the df_all dataset to carrry out operations on:
#
df_all.merge(df_cells_geo, how='right', on='SITE_ID')

      PRODUTC  VALUE  ...          AREA   CELL_ID_y
0       Voice   34.0  ...           NaN  fbb2e75af3
1       Voice   34.0  ...           NaN  1502501d78
2       Voice   34.0  ...           NaN  0c2e182a0c
3         NaN    NaN  ...           NaN  69bdfc69fd
4         NaN    NaN  ...           NaN  7a1029d2ab
...       ...    ...  ...           ...         ...
33573   Voice    0.0  ...  CENTRE NORTH  f9f3e42589
33574   Voice    0.0  ...  CENTRE NORTH  f9f3e42589
33575     NaN    3.0  ...  CENTRE NORTH  f9f3e42589
33576     NaN   21.0  ...  CENTRE NORTH  f9f3e42589
33577     NaN   90.0  ...  CENTRE NORTH  f9f3e42589

[33578 rows x 27 columns]